<article class="container-fluid p-5 about__presentacion">
  <div class="row m-3 h-100 align-items-center justify-content-center p-0">
    <div class="col-12 col-lg-5 text-center p-0 ">
      <img
        alt="Imagen Alejandro Lozano"
        class="img-fluid rounded"
        src="https://firebasestorage.googleapis.com/v0/b/web-alejandro-lozano.appspot.com/o/files%2Fabout_alozano.jpg?alt=media&token=46b3895b-eca0-42bf-b4b8-3d6152fc0472">
    </div>
    <div class="col-12 col-lg-5 mb-5 align-self-center px-sm-0">
      <h3 class="parrafo__encabezado--alt text-center py-4 px-sm-0">¿Quién Soy?</h3>
      <p [ngClass]="{
      'text-center' : this.pantallaMovil,
      'entrada__parrafo' : !this.pantallaMovil
      }" class="parrafo__texto px-sm-0">
        Soy Alejandro Lozano, y mi faceta más reconocible es la del Doctor en Filosofía que ha impartido clases en
        varias Facultades de la Universidad de Salamanca (principalmente Filosofía y Comunicación Audiovisual). Gran
        parte del contenido que encontrarás aquí está relacionado con mis
        investigaciones académicas en el
        terreno de la filosofía y la estética. Esta web es, por otra parte, el resultado de la convergencia entre mis
        intereses teóricos y el deseo de llevar a la práctica varias ideas utilizando la tecnología. También soy
        desarrollador web y he creado este sitio tras mucho tiempo deseando gestionar a mi manera mis trabajos y
        proyectos.
      </p>
    </div>
  </div>
</article>

