<footer class="text-center py-3 footer">
  <div class="row align-items-center">
    <div class="col-12 col-md-6 p-2"><p class="d-inline parrafo__encabezado">Copyright &copy; 2020 Alejandro Lozano</p></div>
    <div class="col-12 col-md-6 p-2">
      <a [routerLink]="'/legal/aviso'" class="d-inline m-3 footer__enlace">
        <p class="d-inline parrafo__encabezado">Aviso legal</p>
      </a>
      <a [routerLink]="'/legal/privacidad/'" class="d-inline m-3 footer__enlace">
        <p class="d-inline parrafo__encabezado">Política de privacidad</p>
      </a>
    </div>
  </div>

</footer>
