<article class="container-fluid p-5">
  <div class="row m-3 h-100 justify-content-around align-content-center text-white py-5">
    <div class="col-12 col-lg-3 p-1">
      <h3 class="parrafo__encabezado--alt text-center">Estética</h3>
      <p class="parrafo__texto text-center p-3">He dedicado mi carrera investigadora a estudiar
        las relaciones entre
        sensibilidad, emociones y conocimiento desde el punto de vista de la la filosofía </p>
    </div>
    <div class="col-12 col-lg-3 p-1">
      <h3 class="parrafo__encabezado--alt text-center">Tecnología</h3>
      <p class="parrafo__texto text-center p-3">He aplicado mis conocimientos de estética a
        comprender las implicaciones de la asimilación de las tecnologías digitales en todas las facetas de nuestra
        vida</p>
    </div>
    <div class="col-12 col-lg-3 p-1">
      <p class="parrafo__texto text-center p-3">Si estás interesado, puedes descargar mi
        currículum académico completo</p>
      <a
        [href]="cvUrlruta" download="cv_alozano.pdf" target="_blank">
        <fa-icon [icon]="iconoCV" class="iconocv m-auto" size="3x"></fa-icon>
      </a>
    </div>
  </div>
</article>
