<article class="container-fluid about__tech p-5">
  <div class="row m-3 h-100 align-items-center py-5">
    <div class="col-12 col-lg-6 p-1">
      <figure class="text-center">
        <fa-icon [icon]="iconoWeb" size="3x"></fa-icon>
      </figure>
      <p class="parrafo__texto text-center p-3">También soy Técnico Superior en Desarrollo de
        Aplicaciones Web. Aprovecho el potencial de Internet para poner en marcha proyectos interactivos y
        experimentar con sus posibilidades</p>
    </div>
    <div class="col-12 col-lg-6 p-1">
      <div class="text-center">
        <img alt="Angular logo"
             class="img-fluid about__tech--imagen m-auto"
             src="https://firebasestorage.googleapis.com/v0/b/web-alejandro-lozano.appspot.com/o/files%2Fabout_angular.svg?alt=media&token=7e3e522d-0723-4eca-ac8b-5015b5e6bc38">
        <img alt="Firebase logo"
             class="img-fluid about__tech--imagen m-auto"
             src="https://firebasestorage.googleapis.com/v0/b/web-alejandro-lozano.appspot.com/o/files%2Fabout_firebase.png?alt=media&token=0bf6275a-93df-484b-a867-7017b28884ad">
      </div>
      <p class="parrafo__texto text-center p-3">
        Tengo conocimientos de Bases de Datos
        relacionales (MySQL) y manejo el <span class="font-italic">framework</span> Symfony para PHP, pero suelo optar
        por el stack
        MEAN para mis proyectos personales. Este sitio web se ha desarrollado utilizando Angular y
        Google Firebase
        como solución <span class="font-italic">serverless</span></p>
    </div>
  </div>
</article>
