<div class="contacto__redes--container p-3 text-white rounded">
  <h3 class="parrafo__encabezado my-3">En redes</h3>
  <p class="parrafo__texto">Mi presencia en redes sociales es reducida, pero mantengo perfiles profesionales y académicos para que sea fácil acceder a mi trabajo. Puedes encontrarme en estos sitios:</p>
      <a class="contacto__redes--enlace parrafo__encabezado my-2 ml-md-5" href="https://usal.academia.edu/AlejandroLozano" target="_blank"><img class="contacto__redes--enlace--imagen img-fluid mx-1" [src]="contenedorRedes.academiaEdu" alt="icono red">Academia.edu</a>
      <a class="contacto__redes--enlace parrafo__encabezado my-2 ml-md-5" href="https://www.researchgate.net/profile/Alejandro_Lozano2" target="_blank"><img class="contacto__redes--enlace--imagen img-fluid mx-1" [src]="contenedorRedes.researchGate" alt="icono red">ResearchGate</a>
      <a class="contacto__redes--enlace parrafo__encabezado my-2 ml-md-5" href="https://www.linkedin.com/in/alejandro-lozano-1804/" target="_blank"><img class="contacto__redes--enlace--imagen img-fluid mx-1" [src]="contenedorRedes.linkedIn" alt="icono red">LinkedIn</a>

</div>
