.parrafo__texto {
  font-size: 1.1rem;
  font-family: $texto-principal;
}

.parrafo__encabezado {
  font-family: $encabezado-alternativo;
}

.parrafo__encabezado--alt {
  font-family: $encabezado-principal;
}
